.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %a.navbar-left{:href => "home.html"} <h1> TesSiliconstraits</h1>
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-brand
        = render "share/search"
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              - if current_user.profile && current_user.profile.avatar
                .round-image-50= image_tag(current_user.profile.avatar.url(:thumb))
              -  else
                .round-image-50
                  %img{:src => asset_path("mini_missing.png")}/
              / %span.caret
            %ul.dropdown-menu
              %li= link_to "#{current_user.email}"
              %li= link_to "change password", edit_user_registration_path
              - if current_user.profile
                %li= link_to "update Profile", profile_path(current_user.profile)
              - else
                %li= link_to "new Profile", new_profile_path
              %li.active= link_to "Logout",destroy_user_session_path(:authenticity_token => form_authenticity_token()), :method => :delete
        - else
          %li= link_to "Login", new_user_session_path
          %li= link_to "SignUp",new_user_registration_path
